---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import Services from "../components/Services.astro";
import Workflow from "../components/Workflow.astro";
import Portfolio from "../components/Portfolio.astro";
import Testimonials from "../components/Testimonials.astro";
import { FAQ } from "../components/FAQ";
import Footer from "../components/Footer.astro";
import FloatingWhatsApp from "../components/FloatingWhatsApp.astro";
---

<Layout title="Bengkel Las Mas Pete Lengkap - Konstruksi Besi Profesional">
	<Header />
	<main>
		<Hero />
		<WhyChooseUs />
		<Services />
		<Workflow />
		<Portfolio />

		<!-- Combined Testimonials & FAQ Section -->
		<div
			class="px-4 md:px-10 lg:px-40 pt-10 pb-20 flex justify-center bg-background-dark"
		>
			<div class="flex flex-col lg:flex-row max-w-[960px] w-full gap-16">
				<Testimonials />
				<FAQ client:visible />
			</div>
		</div>
	</main>
	<Footer />
	<FloatingWhatsApp />
</Layout>
